/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
}

main {
  background-color: red;
  margin: 10px 0;
  padding: 50px;
}

@media (min-width: 700px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
}


li {
  text-decoration: none;
}
#start-screen {
  text-align: center;
  padding: 40px;
  margin: 55px, auto, 0, auto;
  background:rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

#quiz {
  text-align: center;
}

#feedback h2{
  text-align: center;
}

@media (min-width: 1024px) {
  .box {
    width: 29.33%;
    float: left;
    margin-right: 6%;
  }
}
